{% extends 'layout.html' %}

{% block pageTitle %}
  {{ serviceName }}
{% endblock %}

{% block beforeContent %}
{{ breadcrumb({
  href: "/",
  text: "Home"
}) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        {{ serviceName }}
      </h1>

      <p>Use this service to:</p>

      <ul>
        <li>Check your model can be imported</li>
        <li>Submit essential information of model</li>
        <li>Submit required packages for model</li>
      </ul>

      <p>Requires 10 minutes to finish.</p>


      <h2 class="nhsuk-heading-m">Before you start</h2>

      <p>You can only use this service if you have service agreement within SDE.</p>

      <a href="question-page-project-description" class="nhsuk-button">
        Start now
      </a>

    </div>

  </div>
{% endblock %}
